#delete{
    background-color: #F1F5FB;
    text-decoration: none;
    border: none;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    cursor:pointer;
}
#delete:hover{
    background-color: #E3E6FD;
}